
  <div class="well">
    <%= link_to "Добавить новое свойство продукта", new_property_path,  class: "btn btn-primary" %>
  </div>
  <div class="new-property"></div>



<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        
        <td><%= link_to 'Редактировать', edit_property_path(property) %></td>
        <td><%= link_to 'Удалить', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

