<% content_for :catmenu do %>
<div class = "catMenu">
   <ul id="menu">

  <% @rootCats.each do |rcat| %>
  <li class="menu_right"><%= link_to rcat.name, controller: "catalog", action: "show", cat_id: rcat.id%>
 <%= renderSubmenu(rcat) %>

</li>
<% end %>
</ul>
</div>


<% end %>


<h1>Каталог</h1>

<% @rootCats.each do |rcat| %>


<div style="background:#FFFFFF width:170px; float:left;"><%= image_tag rcat.image.url(:thumb) %></div>


<div style="background:#FFFFFF; width:200px; padding:15px; float:left;">
Название: <%= countProducts(rcat) %>
</div>
<div style="clear: both">
</div>

<% end %>


<br>
<br><br>
<br>
